<?php $this->load->view('Header/header.html');?>
<div class="conterner">

	<h4>About Jothi</h4>
    
 	
    	<p style="text-align:justify; line-height:1.5em;">
        	Formed in year 1992, Jothi Impex Sdn.Bhd. are Pioneers in Sole Distributorship for various Indian based FMCG products in Malaysia, Singapore and other regions in the world. Jothi Impex stands by the motto “quality makes our connectivity”.
            <br>
<br>


Jothi Impex believes that each of its customers is to be treated with respect, care and concern. By attending to all their needs and identifying issues is the key to achieve maximum customer delight.<br>


To accommodate to the requirements, Jothi Impex has built a team of dedicated Individuals who steadfastly follow the principles of the organization to serve its customers’ efficiently. 
<br><br>
<br>


The overall plan is designed to accommodate customers crucial needs i.e. regional delivery plan, transportation, delivery strategy, infrastructure and logistics which is scrutinized with high technology tools known as WMS system (Warehouse management system) to ensure that all protocols such as updated customer database, orders, invoicing, product lifespan data, stock itineraries management and payments until the deliveries are made to the doorstep of the customer is properly arranged. 
<br><br>
<br>


The product development personnel is responsible to ensure that all the products are of premium quality, selling feasibility and cost structures to accommodate its entire market share’s economic capacity. The R&D division is setup to identify consumer tastes to suit local consumption, identifying new product range that would be suitable for the local market, quality control and regional preferences. The marketing division studies the demographics by analyzing market segmentation, market share, branding strategies, brand Communication Plan, penetrating into diversified community besides ethnic community, planning innovative advertising and promotional methods to reach its customers in the most effective way.
<br>
<br>
<br>


Jothi Impex believes everyone is entitled to enjoy the goodness of premium quality products at their disposal as Jothi Impex knows that quality is reliability. Thus Jothi Impex is a dedicated business institution which facilities the best quality services it could offer in Malaysia and also across other regions.
        </p>
    
    <p></p>
    <p></p>


<div class="clear"></div>

</div>
<div class=" fotter">
<div class=" fotter1">
<div class="copy">
Copyright &copy; 2013 of Jothi-Impex .com</div>
<ul>
		<li><a href="#">Virtual Tour</a>
		</li>
		<li><a href="#">Promotion</a>
		</li>
		<li><a href="#">About Jothi</a></li>
        <li><a href="#">FAQ </a></li>
        <li><a href="#">Contact us </a></li>
	</ul>
</div></div>
</div>

</body>
</html>