<?php $this->load->view('Header/header.html');?>
<div class="conterner">

	<h4> Contact us</h4>
    
 	
    	<p style="text-align:justify; line-height:1.5em;">
        	 
We are committed to provide the best service possible in this business to all our new and existing clients. 
We would like to assure you that in this industry, it's all about the service.
 <br>
<br>

<div class="orange"><strong>Jothi Impex Sdn Bhd</strong></div> 
<span style="font-size:12px; line-height:1.5em;">
No.51, Jalan SS 15/4E,<br>
Subang jaya,<br>
47500 Petaling Jaya,<br>
Selangor Darul Ehsan.<br>

Tel No	
:
03 - 56342345<br>

Fax No	
:
03 - 56332345<br>

E-mail	
:
info@jothi-impex.com<br>

Website	
:
http://www.jothi-impex.com<br>
</span>
 <hr />
 
<div class="orange"><strong>Jothi Impex Sdn Bhd</strong></div>
<span style="font-size:12px; line-height:1.5em;"> 
No. 14/14A, Jalan Besi Satu,<br>
Taman Sri Putri,<br>
81300 Skudai,<br>
Johor Bahru .<br>
Tel No	
:
07 - 5542345<br>

Fax No	
:
07 - 5562345<br>

E-mail	
:
info@jothi-impex.com<br>

Website	
:
http://www.jothi-impex.com<br>

 </span>
 <hr />
<div class="orange"><strong>Jothi Impex Sdn Bhd </strong></div>
<span style="font-size:12px; line-height:1.5em;"> 
No.1, Campbell Lane,<br>

Singapore 209882 . <br>

Tel No	
:
(65) 6338 7008<br>

Fax No	
:
(65) 65534348<br>

E-mail	
:
info@jothi-impex.com<br>

Website	
:
http://www.jothi-impex.com<br>

</span>
<br>

        </p>
    
    <p></p>
    <p></p>


<div class="clear"></div>

</div>
<div class=" fotter">
<div class=" fotter1">
<div class="copy">
Copyright &copy; 2013 of Jothi-Impex .com</div>
<ul>
		<li><a href="#">Virtual Tour</a>
		</li>
		<li><a href="#">Promotion</a>
		</li>
		<li><a href="#">About Jothi</a></li>
        <li><a href="#">FAQ </a></li>
        <li><a href="#">Contact us </a></li>
	</ul>
</div></div>
</div>

</body>
</html>