<?php $this->load->view('Header/header.html');?>
<div class="conterner">

	<h4>FAQ</h4>
    
 	
    	<p style="text-align:justify; line-height:1.5em;">
        	Q:Is the product of good quality?<br>

A:Yes. It is all registered with the National Pharmaceutical Department of Malaysia which is 
the affiliate of the Health Ministry of Malaysia.<br>
<br>
<br>


Q:Where can we buy these products?<br>

A:It could be purchased in almost all Indian cash and carries, sundry shops and supermarkets in the country.
<br>
<br>

Q:Can we order the products directly from you?<br>

A:Yes you can.
<br>
<br>

Q:Who do I contact if there are any enquiries about products?<br>

A:We will always welcome your comments and feedback to serve you better. 
You could send your queries to info@jothi-impex.com
<br>
<br>

Q:Can these products be consumed by Muslims?<br>

A:Yes. The product has obtained HALAL status and it can be used by Muslims.
<br>
<br>

Q:Does the product contain any animal substance? <br>

A:The products have never contained any animal substance. It is purely vegetable based. <br>
<br>

        </p>
    
    <p></p>
    <p></p>


<div class="clear"></div>

</div>
<div class=" fotter">
<div class=" fotter1">
<div class="copy">
Copyright &copy; 2013 of Jothi-Impex .com</div>
<ul>
		<li><a href="#">Virtual Tour</a>
		</li>
		<li><a href="#">Promotion</a>
		</li>
		<li><a href="#">About Jothi</a></li>
        <li><a href="#">FAQ </a></li>
        <li><a href="#">Contact us </a></li>
	</ul>
</div></div>
</div>

</body>
</html>