<?php $this->load->view('Header/header.html');?>
<div class="conterner">

	<h4>Promotions</h4>
    
 	
    	<p>
        	Coming Soon...
        </p>
    
    <p></p>
    <p></p>


<div class="clear"></div>

</div>
<div class=" fotter">
<div class=" fotter1">
<div class="copy">
Copyright &copy; 2013 of Jothi-Impex .com</div>
<ul>
		<li><a href="#">Virtual Tour</a>
		</li>
		<li><a href="#">Promotion</a>
		</li>
		<li><a href="#">About Jothi</a></li>
        <li><a href="#">FAQ </a></li>
        <li><a href="#">Contact us </a></li>
	</ul>
</div></div>
</div>

</body>
</html>