<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>JothiImpex</title>
<link href="<?=base_url()?>assets/css/style.css" rel="stylesheet" type="text/css">

</head>



<body>
<div id="main">
<div class="header">

<div class="headerrew">
<div class="logo"></div>
<div class="clear"></div>
<div class="basket"><a href="#">Your Basket Item </a><span class="orange">(0) </span><img src="images/basket.png" width="16" height="13"></div>
<div class="clear"></div>
</div>
</div>
<div class="conterner">
<div class="menu">
<nav>
<ul>
<li><a href="#">Beverage</a></li>
<li><a href="#" class="active">Personal Care</a></li>
<li><a href="#">Hair Care</a></li>
<li><a href="#">Cosmetics</a></li>
<li><a href="#">Promotion</a></li>
<li><a href="#">Coming Soon</a></li>

</ul>
</nav>

</div>
<div id="leftfull">
<div class="left">
  <h4>Sidebar Links</h4>
<ul><li><a href="#">Photo Gallery</a></li>
  <li><a href="#">Tell Your Friend</a></li>
  <li><a href="#">Free News letter</a></li>
  <li><a href="#">Active Links</a></li>
  <li><a href="#">Recent Product Lists</a></li>
</ul>
</div>
<div class="left">
  <h4>Sidebar Links</h4>
<ul><li><a href="#">Photo Gallery</a></li>
  <li><a href="#">Tell Your Friend</a></li>
  <li><a href="#">Free News letter</a></li>
  <li><a href="#">Active Links</a></li>
  <li><a href="#">Recent Product Lists</a></li>
</ul>
</div>
<div class="left">
  <h4>Sidebar Links</h4>
<ul><li><a href="#">Photo Gallery</a></li>
  <li><a href="#" class="active">Tell Your Friend</a></li>
  <li><a href="#">Free News letter</a></li>
  <li><a href="#">Active Links</a></li>
  <li><a href="#">Recent Product Lists</a></li>
</ul>
</div>
<div class="left">
  <h4>Sidebar Links</h4>
  <img src="images/12.jpg" width="220" height="166"></div>
</div>
<div class="right">
<div class="product">
  <h4>Product List</h4>
  <div class=" boxfirst">
    <div class="productlist"><img src="images/01.jpg" width="105" height="140"> </div>
    <h3>Product name </h3>
    <ul>
      <li>Type : Coffee</li>
      <li>Packing  :  500gm</li>
      <li>Relese Date : 11/12/12</li>
    </ul>
    <h2>$58.99 </h2>
    <a href="#" class="myButton">add to card</a> </div>
  <div class=" boxfirst">
  <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 
  
  </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class=" boxlast">
   <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class="clear"></div>
 <div class=" boxfirst">
    <div class="productlist"><img src="images/01.jpg" width="105" height="140"></div>
    <h3>Product name </h3>
    <ul>
      <li>Type : Coffee</li>
      <li>Packing  :  500gm</li>
      <li>Relese Date : 11/12/12</li>
    </ul>
    <h2>$58.99 </h2>
    <a href="#" class="myButton">add to card</a> </div>
  <div class=" boxfirst">
  <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 
  
  </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class=" boxlast">
   <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class="clear"></div>
<div class=" boxfirst">
    <div class="productlist"><img src="images/01.jpg" width="105" height="140"> </div>
    <h3>Product name </h3>
    <ul>
      <li>Type : Coffee</li>
      <li>Packing  :  500gm</li>
      <li>Relese Date : 11/12/12</li>
    </ul>
    <h2>$58.99 </h2>
    <a href="#" class="myButton">add to card</a> </div>
  <div class=" boxfirst">
  <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 
  
  </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class=" boxlast">
   <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class="clear"></div>
<div class=" boxfirst">
    <div class="productlist"><img src="images/01.jpg" width="105" height="140"> </div>
    <h3>Product name </h3>
    <ul>
      <li>Type : Coffee</li>
      <li>Packing  :  500gm</li>
      <li>Relese Date : 11/12/12</li>
    </ul>
    <h2>$58.99 </h2>
    <a href="#" class="myButton">add to card</a> </div>
  <div class=" boxfirst">
  <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 
  
  </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class=" boxlast">
   <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class="clear"></div>
<div class=" boxfirst">
    <div class="productlist"><img src="images/01.jpg" width="105" height="140"> </div>
    <h3>Product name </h3>
    <ul>
      <li>Type : Coffee</li>
      <li>Packing  :  500gm</li>
      <li>Relese Date : 11/12/12</li>
    </ul>
    <h2>$58.99 </h2>
    <a href="#" class="myButton">add to card</a> </div>
  <div class=" boxfirst">
  <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 
  
  </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class=" boxlast">
   <div class="productlist"><img src="images/01.jpg" width="105" height="140">
 </div>
   <h3>Product name </h3>
   <ul><li>Type : Coffee</li>
     <li>Packing  :  500gm</li>
     <li>Relese Date : 11/12/12</li> </ul>
     <h2>$58.99 </h2>
     <a href="#" class="myButton">add to card</a>
</div>
<div class="clear"></div>

</div>
<hr>
<div class="panigation-menu">

<button>5</button>
<button>4</button>
<button>3</button>
<button>2</button>
<button class="active">1</button>
</div>
</div>

<div class="clear"></div>

</div>
<div class=" fotter">
<div class=" fotter1">
<div class="copy">
Copyright © 2008 ofJothi-Impex .com</div>
<ul>
  <li><a href="#">Beverage</a></li>
<li><a href="#">Personal Care</a></li>
<li><a href="#">Hair Care</a></li>
<li><a href="#">Cosmetics</a></li>
<li><a href="#">Promotion</a></li>
<li><a href="#">Coming Soon</a></li></ul>
</div></div>
</div>
</body>
</html>
