<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>JothiImpex</title>
<link href="<?=base_url()?>assets/css/style.css" rel="stylesheet" type="text/css">
<link href="<?=base_url()?>assets/css/default.css" rel="stylesheet" type="text/css"/>
</head>



<body>
<div id="main">
<div class="header">

<div class="headerrew">
<div class="logo"></div>
<div class="clear"></div>
<div class="basket"><a href="#">Your Basket Item </a><span class="orange">(0) </span><img src="<?=base_url()?>assets/images/basket.png" width="16" height="13"></div>
<div class="clear"></div>
</div>
</div>
<div class="conterner">
<div class="menu">
<ul>
<li><a href="#">Beverage</a></li>
<li><a href="#" class="active">Personal Care</a></li>
<li><a href="#">Hair Care</a></li>
<li><a href="#">Cosmetics</a></li>
<li><a href="#">Promotion</a></li>
<li><a href="#">Coming Soon</a></li>

</ul>

</div>
<div class="pro"><img src="images/thumbnail-slider-3.jpg" width="432" height="395"></div>
<div class="prodel">
  <h3>Barbie Is Can Be. Rock Star </h3>
  <div class="clear"></div>
  <div class="brand">
   Brand : <span class="orange">Barbie</span>
  </div>
 
  <p>BARBIE I CAN BE. Rock Star, Barbie I Can Be. dolls and accessories let girls play out different roles and fabulous careers, including a superstar musi BARBIE I CAN BE. Rock Star, Barbie I Can Be. dolls and accessories let girls play out different roles and fabulous careers, including a superstar musi</p>
 <div class="ship">
  <strong>Offer Details</strong> : BARBIE I CAN BE. Rock Star
  </div>
<span class="rsSymbol">$</span><span class="rup"> 758</span>
<div class="ship">
<strong>Shipping Charges:</strong> 35 only.</div>
<p></p>
<div class="ship">
 Quantity : <select name="">
   <option>01</option>
   <option>02</option>
 </select>
  </div>
<span class="orange" >Check delivery to my pincodeBarbie</span>
<br><br>
  
 <a href="#" class="myButton" style="padding:10px; font-size:12px;">Click Here to Buy</a> 
  
  </div>
<div class="clear"></div>
<div class="box">
  <h3>Product Details </h3>
  <p>BARBIE I CAN BE. Rock Star, Barbie I Can Be. dolls and accessories let girls play out different roles and fabulous careers, including a superstar musi BARBIE I CAN BE. Rock Star, Barbie I Can Be. dolls and accessories let girls play out different roles and fabulous careers, including a superstar musi</p>
</div>
<div class="box">
  <h3>Specifications </h3>
  <select name="">
    <option>Product Specifications</option>
  </select>
</div>
<div class="box">
  <h3>All Q&A for this product</h3>
  <p>Be the first to ask Question on this product.</p>
</div>
<div class="box">
  <h3>User All Reviews</h3>
  <p>Be the first to ask Question on this product.</p>
</div>
</div>

<div class="clear"></div>

</div>
<div class=" fotter">
<div class=" fotter1">
<div class="copy">
Copyright © 2008 ofJothi-Impex .com</div>
<ul>
  <li><a href="#">Beverage</a></li>
<li><a href="#">Personal Care</a></li>
<li><a href="#">Hair Care</a></li>
<li><a href="#">Cosmetics</a></li>
<li><a href="#">Promotion</a></li>
<li><a href="#">Coming Soon</a></li></ul>
</div></div>
</div>
</body>
</html>
